<div class="h-full w-full bg-discord-primarylight border-l border-[#3F4147] py-4 px-4">
    <h2 class="text-white font-extrabold text-xl mt-2 mb-3">Active Now</h2>

    <!-- emptyCard -->
    <!-- <div class="flex flex-col pt-2 px-4 items-center mt-4">
        <h2 class="text-[#F2F3F5] font-semibold">It's quiet for now...</h2>
        <p class="text-[#A9ADB4] text-sm text-center">
            When a friend starts an activity—like playing a game or hanging out on voice—we’ll show it here!
        </p>
    </div> -->

    <div>
        <app-voice-channel-item-card></app-voice-channel-item-card>
    </div>
</div>