<div class="flex h-12">
    <div class="flex w-full bg-discord-primarydefault">
        <div class="flex justify-between items-center w-full h-full drop-shadow-discord-light bg-discord-primarylight">
            <div class="flex items-center gap-4 ps-4">
                <button class="flex justify-center items-center gap-[0.5625rem] cursor-default">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                        <path
                            d="M4.77528 2H1C1 10.6232 4.77528 13.744 6.66292 14.0725V19H22C22 12.5942 17.2809 12.5942 13.9775 12.5942C6.66292 12.5942 4.77528 6.43478 4.77528 2Z"
                            fill="#72767D" />
                        <path
                            d="M13.9775 2.5C19.6405 2.5 19.6405 11.1232 13.9775 11.1232C8.0867 11.1232 8.31461 2.5 13.9775 2.5Z"
                            fill="#72767D" />
                    </svg>

                    <p class="text-white text-[1.00313rem] font-semibold">Friends</p>
                </button>

                <div class="w-[0.0625rem] h-6 bg-[#42454A]"></div>

                <div class="flex items-center gap-3">
                    <button class="rounded-[0.1875rem] bg-[#3E4249] px-2 text-white font-medium hover:bg-[#393C41]">
                        Online
                    </button>

                    <button
                        class="rounded-[0.1875rem] px-3 text-[#B5BAC1] font-medium hover:bg-[#393C41] hover:text-white">
                        All
                    </button>

                    <button
                        class="rounded-[0.1875rem] px-2 text-[#B5BAC1] font-medium hover:bg-[#393C41] hover:text-white">
                        Pending
                    </button>

                    <button
                        class="rounded-[0.1875rem] px-2 text-[#B5BAC1] font-medium hover:bg-[#393C41] hover:text-white">
                        Blocked
                    </button>

                    <button class="btn bg-[#248046] rounded-[0.1875rem] px-2 text-white">
                        Add Friend
                    </button>
                </div>
            </div>

            <div class="flex bg-discord-primarylight gap-4 pe-4">
                <div class="flex gap-4">
                    <button class="btn text-[#B5BAC1]">
                        <svg x="0" y="0" class="icon-2xnN2Y" aria-hidden="true" role="img" width="24" height="24"
                            viewBox="0 0 24 24">
                            <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"
                                d="M20.998 0V3H23.998V5H20.998V8H18.998V5H15.998V3H18.998V0H20.998ZM2.99805 20V24L8.33205 20H14.998C16.102 20 16.998 19.103 16.998 18V9C16.998 7.896 16.102 7 14.998 7H1.99805C0.894047 7 -0.00195312 7.896 -0.00195312 9V18C-0.00195312 19.103 0.894047 20 1.99805 20H2.99805Z">
                            </path>
                        </svg>
                    </button>

                    <div class="bg-[#42454A] w-[0.0625rem] h-6"></div>
                </div>

                <button class="btn text-[#B5BAC1]">
                    <svg x="0" y="0" class="icon-2xnN2Y" aria-hidden="true" role="img" width="24" height="24"
                        viewBox="0 0 24 24" fill="none">
                        <path
                            d="M19 3H4.99C3.88 3 3.01 3.89 3.01 5L3 19C3 20.1 3.88 21 4.99 21H19C20.1 21 21 20.1 21 19V5C21 3.89 20.1 3 19 3ZM19 15H15C15 16.66 13.65 18 12 18C10.35 18 9 16.66 9 15H4.99V5H19V15Z"
                            fill="currentColor"></path>
                    </svg>
                </button>

                <a class="btn text-[#B5BAC1]" href="https://support.discord.com/hc/en-us" target="_blank">
                    <svg x="0" y="0" class="icon-2xnN2Y" aria-hidden="true" role="img" width="24" height="24"
                        viewBox="0 0 24 24">
                        <path fill="currentColor"
                            d="M12 2C6.486 2 2 6.487 2 12C2 17.515 6.486 22 12 22C17.514 22 22 17.515 22 12C22 6.487 17.514 2 12 2ZM12 18.25C11.31 18.25 10.75 17.691 10.75 17C10.75 16.31 11.31 15.75 12 15.75C12.69 15.75 13.25 16.31 13.25 17C13.25 17.691 12.69 18.25 12 18.25ZM13 13.875V15H11V12H12C13.104 12 14 11.103 14 10C14 8.896 13.104 8 12 8C10.896 8 10 8.896 10 10H8C8 7.795 9.795 6 12 6C14.205 6 16 7.795 16 10C16 11.861 14.723 13.429 13 13.875Z">
                        </path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>