<div class="p-4 border border-[#4e50587a] rounded-lg bg-[#2B2D31] hover:bg-[#111214]">
    <div class="flex flex-col gap-2">
        <header>
            <div class="flex gap-3 items-center">
                <img class="w-8 h-8" src="/assets/icons/icon.svg" alt="">

                <div class="flex flex-col">
                    <span class="text-[#D6D9DC] font-semibold">ayayabood</span>
                    <span class="text-sm text-[#9DA1A8]">In a Voice Channel</span>
                </div>
            </div>
        </header>

        <div class="flex gap-3 items-center bg-[#313338] rounded-lg p-3">
            <img class="w-8 h-8" src="/assets/icons/icon.svg" alt="">

            <div class="flex flex-col">
                <span class="text-sm text-[#D6D9DD] font-semibold">ayayabood</span>
                <span class="text-xs text-[#D0D3D7]">In a Voice Channel</span>
            </div>
        </div>
    </div>
</div>