<div
    class="flex justify-between items-center h-[3.65rem] ml-[1.375rem] mr-5 rounded-md border-t border-[#3F4147] hover:bg-[#393C41]">
    <div class="flex items-center gap-3 pl-3 pr-[0.625rem]">
        <div>
            <img class="w-8 h-8" src="/assets/icons/icon.svg" alt="">
        </div>

        <div>
            <div class="info-3ddo6z discordTag-3HiQI9 alignPomelo-1oVAy7">
                <span class="username text-[#F2F3F5] font-semibold">
                    ayayabood
                </span>
            </div>

            <div class="subtext">
                <div class="activity flex items-center gap-1 text-[#B5BAC1]">
                    <span class="text-sm font-medium">Playing
                        <strong class="font-semibold">Visual Studio Code</strong>
                    </span>

                    <svg class="icon-Lupfh-" aria-hidden="true" role="img" width="16" height="16" viewBox="0 0 16 16">
                        <path fill="currentColor"
                            d="M6,7 L2,7 L2,6 L6,6 L6,7 Z M8,5 L2,5 L2,4 L8,4 L8,5 Z M8,3 L2,3 L2,2 L8,2 L8,3 Z M8.88888889,0 L1.11111111,0 C0.494444444,0 0,0.494444444 0,1.11111111 L0,8.88888889 C0,9.50253861 0.497461389,10 1.11111111,10 L8.88888889,10 C9.50253861,10 10,9.50253861 10,8.88888889 L10,1.11111111 C10,0.494444444 9.5,0 8.88888889,0 Z"
                            transform="translate(3 3)"></path>
                    </svg>
                </div>
            </div>
        </div>
    </div>

    <div class="actions flex items-center gap-2 pr-3">
        <div class="action-button btn flex items-center justify-center h-9 w-9 bg-[#2B2D31] text-[#B5BAC1] rounded-full hover:bg-[#1e1f22]">
            <svg class="w-5 h-5" aria-hidden="true" role="img" width="24" height="24" viewBox="0 0 24 24"
                fill="none">
                <path fill="currentColor"
                    d="M4.79805 3C3.80445 3 2.99805 3.8055 2.99805 4.8V15.6C2.99805 16.5936 3.80445 17.4 4.79805 17.4H7.49805V21L11.098 17.4H19.198C20.1925 17.4 20.998 16.5936 20.998 15.6V4.8C20.998 3.8055 20.1925 3 19.198 3H4.79805Z">
                </path>
            </svg>
        </div>

        <div class="action-button btn flex items-center justify-center h-9 w-9 bg-[#2B2D31] text-[#B5BAC1] rounded-full hover:bg-[#1e1f22]">
            <svg class="w-5 h-5" aria-hidden="true" role="img" width="24" height="24" viewBox="0 0 24 24">
                <g fill="none" fill-rule="evenodd">
                    <path d="M24 0v24H0V0z"></path>
                    <path fill="currentColor"
                        d="M12 16c1.1045695 0 2 .8954305 2 2s-.8954305 2-2 2-2-.8954305-2-2 .8954305-2 2-2zm0-6c1.1045695 0 2 .8954305 2 2s-.8954305 2-2 2-2-.8954305-2-2 .8954305-2 2-2zm0-6c1.1045695 0 2 .8954305 2 2s-.8954305 2-2 2-2-.8954305-2-2 .8954305-2 2-2z">
                    </path>
                </g>
            </svg>
        </div>
    </div>
</div>