<div class="h-full w-full bg-[#232428] relative">

    <div class="banner h-[7.5rem] w-full bg-[#B8B7B8]"></div>

    <div class="avatarWrapper mb-14">
        <div class="absolute top-[5rem] left-[1.375rem] h-20 w-20 rounded-[50%] box-content">
            <svg width="92" height="92" viewBox="0 0 92 92" class="mask absolute box-content block">
                <foreignObject x="0" y="0" width="80" height="80" mask="url(#svg-mask-avatar-status-round-80)">
                    <div class="avatarStack">
                        <img src="https://cdn.discordapp.com/avatars/718541037559349268/5dab4cfce616cc3fc5ab98038537af61.webp?size=80"
                            class="avatar">
                    </div>
                </foreignObject>

                <rect width="16" height="16" x="60" y="60" fill="#80848e" mask="url(#svg-mask-status-offline)"
                    class="pointerEvents"></rect>
            </svg>
        </div>
    </div>

    <div class="flex flex-col gap-3 h-max bg-[#111214] rounded-lg p-3 m-4">
        <div class="userText flex flex-col gap-0">
            <h2 class="text-xl text-[#F2F3F5] font-semibold">Midjourney Bot</h2>
            <span class="text-sm text-[#EBEFF5] font-medium">Midjourney Bot#9282</span>
        </div>

        <app-h-divider></app-h-divider>

        <div class="flex flex-col gap-3">
            <div class="flex flex-col gap-1.5">
                <h2 class="text-[#F2F3F5] text-xs font-bold uppercase">About Me</h2>
                <p class="text-[#DBDEE1] text-sm">
                    Generate an image based on a text prompt in under 60 seconds using the /imagine command!
                </p>
            </div>

            <div class="flex flex-col gap-1.5">
                <h2 class="text-[#F2F3F5] text-xs font-bold uppercase">Discord Member Since</h2>
                <span class="text-[#DBDEE1] text-sm">Jan 29, 2022</span>
            </div>
        </div>

        <app-h-divider></app-h-divider>

        <div class="flex flex-col gap-1.5 mb-3">
            <h2 class="text-[#F2F3F5] text-xs font-bold uppercase">Note</h2>
            <input class="text-[#DBDEE1] text-xs bg-[#111214] p-1" type="text" placeholder="Click to add a note">
        </div>
    </div>

    <div class="flex flex-col gap-[1px] m-4">
        <button type="button" class="btn bg-[#111214] rounded-t-lg px-3 pt-[13px] pb-[11px]">
            <div class="flex justify-between items-center">
                <span class="text-[#DBDEE1] text-sm font-medium">
                    2 Mutual Servers
                </span>

                <svg class="text-[#DBDEE1] text-sm font-medium rotate-[270deg]" width="24" height="24"
                    viewBox="0 0 24 24">
                    <path fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" d="M7 10L12 15 17 10" aria-hidden="true">
                    </path>
                </svg>
            </div>
        </button>

        <button type="button" class="btn bg-[#111214] rounded-b-lg px-3 pt-[13px] pb-[11px]">
            <div class="flex justify-between items-center">
                <span class="text-[#DBDEE1] text-sm font-medium">
                    7 Mutual Friends
                </span>

                <svg class="text-[#DBDEE1] text-sm font-medium rotate-[270deg]" width="24" height="24"
                    viewBox="0 0 24 24">
                    <path fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" d="M7 10L12 15 17 10" aria-hidden="true">
                    </path>
                </svg>
            </div>
        </button>
    </div>
</div>