<svg viewBox="0 0 1 1" aria-hidden="true"
    style="position: absolute; pointer-events: none; top: -1px; left: -1px; width: 1px; height: 1px;">
    <mask id="svg-mask-avatar-status-round-80" maskContentUnits="objectBoundingBox" viewBox="0 0 1 1">
        <circle fill="white" cx="0.5" cy="0.5" r="0.5"></circle>
        <circle fill="black" cx="0.85" cy="0.85" r="0.175"></circle>
    </mask>

    <mask id="svg-mask-status-offline" maskContentUnits="objectBoundingBox" viewBox="0 0 1 1">
        <circle fill="white" cx="0.5" cy="0.5" r="0.5"></circle>
        <circle fill="black" cx="0.5" cy="0.5" r="0.25"></circle>
    </mask>
</svg>

<router-outlet></router-outlet>