<div class="flex flex-col min-w-[28.75rem] max-w-[46.25rem] px-10 pt-[3.75rem] pb-20">
    <div class="flex flex-col w-full h-max">
        <h2 class="text-[#F2F3F5] text-xl font-semibold mb-5">My Account</h2>

        <div class="flex flex-col bg-[#1E1F22] rounded-lg h-max w-full relative">
            <div class="banner h-[6.25rem] w-full bg-[#232525] rounded-lg"></div>

            <div class="userInfo flex justify-between items-start h-[4.5rem] pt-4 pr-4 pl-[7.5rem]">
                <div class="avatarWrapper  absolute top-[5rem] left-[1.375rem] h-20 w-20 rounded-[50%] box-content">
                    <svg width="92" height="92" viewBox="0 0 92 92" class="mask absolute box-content block">
                        <foreignObject x="0" y="0" width="80" height="80" mask="url(#svg-mask-avatar-status-round-80)">
                            <div class="avatarStack">
                                <img src="https://cdn.discordapp.com/avatars/718541037559349268/5dab4cfce616cc3fc5ab98038537af61.webp?size=80"
                                    class="avatar">
                            </div>
                        </foreignObject>

                        <rect width="16" height="16" x="60" y="60" fill="#80848e" mask="url(#svg-mask-status-offline)"
                            class="pointerEvents"></rect>
                    </svg>
                </div>

                <div class="profileCardUsernameRow flex gap-2 items-center">
                    <div class="userTag">
                        <span class="text-[#F2F3F5] text-xl font-semibold">
                            Peanut Butter
                        </span>
                    </div>

                    <div class="overflowMenuButton">
                        <svg class="overflowMenuIcon" width="24" height="24" viewBox="0 0 24 24">
                            <path fill="#B5BAC1" fill-rule="evenodd" clip-rule="evenodd"
                                d="M7 12.001C7 10.8964 6.10457 10.001 5 10.001C3.89543 10.001 3 10.8964 3 12.001C3 13.1055 3.89543 14.001 5 14.001C6.10457 14.001 7 13.1055 7 12.001ZM14 12.001C14 10.8964 13.1046 10.001 12 10.001C10.8954 10.001 10 10.8964 10 12.001C10 13.1055 10.8954 14.001 12 14.001C13.1046 14.001 14 13.1055 14 12.001ZM19 10.001C20.1046 10.001 21 10.8964 21 12.001C21 13.1055 20.1046 14.001 19 14.001C17.8954 14.001 17 13.1055 17 12.001C17 10.8964 17.8954 10.001 19 10.001Z">
                            </path>
                        </svg>
                    </div>
                </div>

                <div class="flex items-center">
                    <button
                        class="btn bg-[#5865F2] text-white text-sm font-medium rounded-[3px] px-4 py-1.5 hover:bg-[#4752C4]">
                        Edit User Profile
                    </button>
                </div>
            </div>

            <div class="mt-2 mb-4 mx-4 p-4 bg-[#2B2D31] rounded-lg">
                <div class="fieldList flex flex-col gap-5">
                    <div class="field flex justify-between">
                        <div class="constrainedRow">
                            <div class="flex flex-col gap-1">
                                <h3 class="fieldTitle text-[#B5BAB8] text-xs font-bold uppercase">Display Name</h3>

                                <div>
                                    <span class="text-[#F2F3F5]">Peanut Butter</span>
                                </div>
                            </div>
                        </div>

                        <button
                            class="fieldButton btn bg-[#4E5058] text-white text-sm px-[1.125rem] my-1.5 rounded-[3px] hover:bg-[#6D6F78]">
                            Edit
                        </button>
                    </div>

                    <div class="field flex justify-between">
                        <div class="constrainedRow">
                            <div class="flex flex-col gap-1">
                                <h3 class="fieldTitle text-[#B5BAB8] text-xs font-bold uppercase">Username</h3>

                                <div>
                                    <span class="text-[#F2F3F5]">peanuterbutter</span>
                                </div>
                            </div>
                        </div>

                        <button
                            class="fieldButton btn bg-[#4E5058] text-white text-sm px-[1.125rem] my-1.5 rounded-[3px] hover:bg-[#6D6F78]">
                            Edit
                        </button>
                    </div>

                    <div class="field flex justify-between">
                        <div class="constrainedRow">
                            <div class="flex flex-col gap-1">
                                <h3 class="fieldTitle text-[#B5BAB8] text-xs font-bold uppercase">Email</h3>

                                <div>
                                    <span class="text-[#F2F3F5]">*************@gmail.com</span>
                                </div>
                            </div>
                        </div>

                        <button
                            class="fieldButton btn bg-[#4E5058] text-white text-sm px-[1.125rem] my-1.5 rounded-[3px] hover:bg-[#6D6F78]">
                            Edit
                        </button>
                    </div>

                    <div class="field flex justify-between">
                        <div class="constrainedRow">
                            <div class="flex flex-col gap-1">
                                <h3 class="fieldTitle text-[#B5BAB8] text-xs font-bold uppercase">Phone Number</h3>

                                <div>
                                    <span class="text-[#F2F3F5]">*********1772</span>
                                </div>
                            </div>
                        </div>

                        <button
                            class="fieldButton btn bg-[#4E5058] text-white text-sm px-[1.125rem] my-1.5 rounded-[3px] hover:bg-[#6D6F78]">
                            Edit
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <app-h-divider class="my-10"></app-h-divider>

    <div class="flex flex-col w-full h-max">
        <h2 class="text-[#F2F3F5] text-xl font-semibold mb-5">Password and Authentication</h2>

        <button
            class="btn w-max bg-[#5865F2] text-white text-sm font-medium rounded-[3px] px-4 py-1.5 mb-7 hover:bg-[#4752C4]">
            Change Password
        </button>

        <div class="flex flex-col gap-2">
            <h3 class="text-[#B5BAB8] text-xs font-bold uppercase">Two-factor authentication</h3>

            <div class="flex gap-2.5">
                <div class="flex flex-col gap-4">
                    <p class="text-[#B5BAC1] text-sm">
                        Protect your Discord account with an extra layer of security. Once configured, you'll be
                        required to
                        enter both your password and an authentication code from your mobile phone in order to sign in.
                    </p>

                    <button
                        class="btn w-max bg-[#5865F2] text-white text-sm font-medium rounded-[3px] px-4 py-1.5 hover:bg-[#4752C4]">
                        Enable Two-Factor Auth
                    </button>
                </div>

                <div class="mt-4">
                    <img src="/assets/images/userSettingsSecurityImage.svg">
                </div>
            </div>
        </div>
    </div>

    <app-h-divider class="my-10"></app-h-divider>

    <div class="flex flex-col gap-2 h-max">
        <h3 class="text-[#B5BAB8] text-xs font-bold uppercase">Account Removal</h3>

        <div class="flex flex-col">
            <p class="text-[#B5BAC1] text-sm">
                Disabling your account means you can recover it at any time after taking this action.
            </p>

            <div class="flex gap-4">
                <button
                    class="btn w-max bg-[#DA373C] text-white text-sm font-medium rounded-[3px] px-4 py-1.5 mt-4 hover:bg-[#A12828]">
                    Disable Account
                </button>

                <button
                    class="btn w-max border border-[#DA373C] text-white text-sm font-medium rounded-[3px] px-4 py-1.5 mt-4 hover:bg-[#DA373C]">
                    Delete Account
                </button>
            </div>
        </div>
    </div>
</div>