<div class="flex flex-col w-full h-max m-4">
    <div class="avatarWrapper mb-1 relative">
        <div class="h-20 w-20 rounded-[50%]">
            <svg width="92" height="92" viewBox="0 0 92 92" class="mask absolute block">
                <foreignObject x="0" y="0" width="80" height="80" mask="url(#svg-mask-avatar-status-round-80)">
                    <div class="avatarStack">
                        <img src="https://cdn.discordapp.com/avatars/718541037559349268/5dab4cfce616cc3fc5ab98038537af61.webp?size=80"
                            class="avatar">
                    </div>
                </foreignObject>

                <rect width="16" height="16" x="60" y="60" fill="#80848e" mask="url(#svg-mask-status-offline)"
                    class="pointerEvents"></rect>
            </svg>
        </div>
    </div>

    <h3 class="text-[32px] text-[#F2F3F5] font-bold mb-1">Midjourney Bot</h3>

    <div class="flex flex-col gap-4">
        <h3 class="text-[#F2F3F5] text-2xl font-medium">Midjourney Bot#9282</h3>
        <p class="text-[#B5BAC1]">
            This is the beginning of your direct message history with <strong>Midjourney Bot</strong>.
        </p>

        <div class="flex items-center gap-2">
            <img class="rounded-full"
                src="https://cdn.discordapp.com/icons/662267976984297473/39128f6c9fc33f4c95a27d4c601ad7db.webp?size=24">

            <span class="text-[#B5BAC1] text-sm cursor-pointer hover:text-[#DBDEE1]">1 Mutual Server</span>

            <div class="w-1 h-1 mx-2 rounded-[50%] bg-[#404249]"></div>

            <button
                class="btn bg-[#4E5058] rounded-[3px] text-white text-sm font-medium px-4 py-0.5 hover:bg-[#6D6F78]">
                <div class="">Block</div>
            </button>

            <button
                class="btn bg-[#DA373C] rounded-[3px] text-white text-sm font-medium px-4 py-0.5 hover:bg-[#A12828]">
                <div class="">Report Spam</div>
            </button>
        </div>
    </div>
</div>